NEXT_PUBLIC_BASE_URL="" # https://www.suaraanaknegeri.net

NEXT_PUBLIC_SANITY_PROJECT_ID=""	# abcd1234
NEXT_PUBLIC_SANITY_DATASET=""	# production

SANITY_API_READ_TOKEN="" # "Viewer" permissions

DEEPSEEK_API_KEY="" # https://platform.deepseek.com/api_keys
SANITY_API_WRITE_TOKEN="" # Sanity token with write permissions
